{
  "999999": {
    "entry": 999999,
    "class": 4,
    "subclass": 1,
    "name": "Example Custom Item",
    "description": "This is an example item modification",
    "displayId": 12345,
    "quality": 4,
    "flags": 0,
    "buyCount": 1,
    "buyPrice": 10000,
    "sellPrice": 2500,
    "inventoryType": 5,
    "allowableClass": -1,
    "allowableRace": -1,
    "itemLevel": 60,
    "requiredLevel": 60,
    "requiredSkill": 0,
    "requiredSkillRank": 0,
    "requiredSpell": 0,
    "stackable": 1,
    "bonding": 1,
    "maxDurability": 100,
    "statType1": 7,
    "statValue1": 25,
    "statType2": 5,
    "statValue2": 15,
    "statType3": 0,
    "statValue3": 0,
    "statType4": 0,
    "statValue4": 0,
    "statType5": 0,
    "statValue5": 0,
    "statType6": 0,
    "statValue6": 0,
    "statType7": 0,
    "statValue7": 0,
    "statType8": 0,
    "statValue8": 0,
    "statType9": 0,
    "statValue9": 0,
    "statType10": 0,
    "statValue10": 0,
    "delay": 0,
    "dmgMin1": 0,
    "dmgMax1": 0,
    "dmgType1": 0,
    "dmgMin2": 0,
    "dmgMax2": 0,
    "dmgType2": 0,
    "armor": 250,
    "holyRes": 0,
    "fireRes": 10,
    "natureRes": 0,
    "frostRes": 0,
    "shadowRes": 0,
    "arcaneRes": 0,
    "spellId1": 0,
    "spellTrigger1": 0,
    "spellId2": 0,
    "spellTrigger2": 0,
    "spellId3": 0,
    "spellTrigger3": 0,
    "setId": 0
  }
}
